.main {
    color: red;
}

.color {
    color: rgb(237, 173, 116);

}

table,
tr,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding-bottom: 2px;
}

tr:nth-child(even) {
    background-color: rgb(243, 241, 241);
}
textarea
{
width:750px;
height:100px;
}

